header {
font-size: 170%;

background-color: lightslategray;
}

h3 {
    color: lightslategrey;
}

Body {
   
    background-image: url(../images/green.jpg);
}   

.list-group {
    font-size: 120%;
}